astroid==2.4.1
backcall==0.1.0
colorama==0.4.3
# Editable install with no version control (cs-datatypes==0.1.0)
-e c:\users\mwilliams\sldv\leafs\cs_datatypes
# Editable install with no version control (cs-leafs==0.1.0)
-e c:\users\mwilliams\sldv\leafs\cs_leafs
# Editable install with no version control (cs-req-mgr==0.1.0)
-e c:\users\mwilliams\sldv\leafs\cs_req_mgr
# Editable install with no version control (cs-test-fw==0.1.0)
-e c:\users\mwilliams\sldv\leafs\cs_test_fw
# Editable install with no version control (cs-utils==0.1.0)
-e c:\users\mwilliams\sldv\leafs\cs_utils
# Editable install with no version control (cs-vcs==0.1.0)
-e c:\users\mwilliams\sldv\leafs\cs_vcs
cycler==0.10.0
decorator==4.4.2
ipython==7.14.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matlabengineforpython===R2020a
matplotlib==3.2.2
mccabe==0.6.1
nose==1.3.7
numpy==1.18.4
package-gen==0.3.2
pandas==1.0.3
parso==0.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
pycryptodome==3.9.7
Pygments==2.6.1
pylint==2.5.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
scipy==1.4.1
six==1.14.0
-e git+https://github.com/csincgithub/Simulink.git@7b8bb68c993953bc4e7eab81e5d6df6f47435bdd#egg=sldv&subdirectory=sldv
svn==1.0.1
toml==0.10.1
traitlets==4.3.3
typed-ast==1.4.1
wcwidth==0.1.9
wrapt==1.12.1
xlrd==1.2.0

